<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idream.commons.lib.mapper.AppVersionMapper">
    <resultMap id="BaseResultMap" type="com.idream.commons.lib.model.AppVersion">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="version_no" property="versionNo" jdbcType="VARCHAR"/>
        <result column="app_type" property="appType" jdbcType="TINYINT"/>
        <result column="is_force" property="isForce" jdbcType="TINYINT"/>
        <result column="app_url" property="appUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, version_no, app_type, is_force, app_url, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from app_version
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from app_version
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.idream.commons.lib.model.AppVersion" useGeneratedKeys="true"
            keyProperty="id">
        insert into app_version (version_no, app_type, is_force,
        app_url, create_time, update_time
        )
        values (#{versionNo,jdbcType=VARCHAR}, #{appType,jdbcType=TINYINT}, #{isForce,jdbcType=TINYINT},
        #{appUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.idream.commons.lib.model.AppVersion" useGeneratedKeys="true"
            keyProperty="id">
        insert into app_version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="versionNo != null">
                version_no,
            </if>
            <if test="appType != null">
                app_type,
            </if>
            <if test="isForce != null">
                is_force,
            </if>
            <if test="appUrl != null">
                app_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="versionNo != null">
                #{versionNo,jdbcType=VARCHAR},
            </if>
            <if test="appType != null">
                #{appType,jdbcType=TINYINT},
            </if>
            <if test="isForce != null">
                #{isForce,jdbcType=TINYINT},
            </if>
            <if test="appUrl != null">
                #{appUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.idream.commons.lib.model.AppVersion">
        update app_version
        <set>
            <if test="versionNo != null">
                version_no = #{versionNo,jdbcType=VARCHAR},
            </if>
            <if test="appType != null">
                app_type = #{appType,jdbcType=TINYINT},
            </if>
            <if test="isForce != null">
                is_force = #{isForce,jdbcType=TINYINT},
            </if>
            <if test="appUrl != null">
                app_url = #{appUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.idream.commons.lib.model.AppVersion">
        update app_version
        set version_no = #{versionNo,jdbcType=VARCHAR},
        app_type = #{appType,jdbcType=TINYINT},
        is_force = #{isForce,jdbcType=TINYINT},
        app_url = #{appUrl,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>