<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idream.commons.lib.mapper.CouponCollectionMapper">
    <resultMap id="BaseResultMap" type="com.idream.commons.lib.model.CouponCollection">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="coupon_id" property="couponId" jdbcType="INTEGER"/>
        <result column="coupon_code" property="couponCode" jdbcType="VARCHAR"/>
        <result column="info_id" property="infoId" jdbcType="INTEGER"/>
        <result column="info_code" property="infoCode" jdbcType="VARCHAR"/>
        <result column="info_name" property="infoName" jdbcType="VARCHAR"/>
        <result column="info_sort" property="infoSort" jdbcType="TINYINT"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, coupon_id, coupon_code, info_id, info_code, info_name, info_sort, detail, create_time,
        update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from coupon_collection
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from coupon_collection
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.idream.commons.lib.model.CouponCollection" useGeneratedKeys="true"
            keyProperty="id">
        insert into coupon_collection (coupon_id, coupon_code, info_id,
        info_code, info_name, info_sort,
        detail, create_time, update_time
        )
        values (#{couponId,jdbcType=INTEGER}, #{couponCode,jdbcType=VARCHAR}, #{infoId,jdbcType=INTEGER},
        #{infoCode,jdbcType=VARCHAR}, #{infoName,jdbcType=VARCHAR}, #{infoSort,jdbcType=TINYINT},
        #{detail,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.idream.commons.lib.model.CouponCollection" useGeneratedKeys="true"
            keyProperty="id">
        insert into coupon_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="couponId != null">
                coupon_id,
            </if>
            <if test="couponCode != null">
                coupon_code,
            </if>
            <if test="infoId != null">
                info_id,
            </if>
            <if test="infoCode != null">
                info_code,
            </if>
            <if test="infoName != null">
                info_name,
            </if>
            <if test="infoSort != null">
                info_sort,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="couponId != null">
                #{couponId,jdbcType=INTEGER},
            </if>
            <if test="couponCode != null">
                #{couponCode,jdbcType=VARCHAR},
            </if>
            <if test="infoId != null">
                #{infoId,jdbcType=INTEGER},
            </if>
            <if test="infoCode != null">
                #{infoCode,jdbcType=VARCHAR},
            </if>
            <if test="infoName != null">
                #{infoName,jdbcType=VARCHAR},
            </if>
            <if test="infoSort != null">
                #{infoSort,jdbcType=TINYINT},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.idream.commons.lib.model.CouponCollection">
        update coupon_collection
        <set>
            <if test="couponId != null">
                coupon_id = #{couponId,jdbcType=INTEGER},
            </if>
            <if test="couponCode != null">
                coupon_code = #{couponCode,jdbcType=VARCHAR},
            </if>
            <if test="infoId != null">
                info_id = #{infoId,jdbcType=INTEGER},
            </if>
            <if test="infoCode != null">
                info_code = #{infoCode,jdbcType=VARCHAR},
            </if>
            <if test="infoName != null">
                info_name = #{infoName,jdbcType=VARCHAR},
            </if>
            <if test="infoSort != null">
                info_sort = #{infoSort,jdbcType=TINYINT},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.idream.commons.lib.model.CouponCollection">
        update coupon_collection
        set coupon_id = #{couponId,jdbcType=INTEGER},
        coupon_code = #{couponCode,jdbcType=VARCHAR},
        info_id = #{infoId,jdbcType=INTEGER},
        info_code = #{infoCode,jdbcType=VARCHAR},
        info_name = #{infoName,jdbcType=VARCHAR},
        info_sort = #{infoSort,jdbcType=TINYINT},
        detail = #{detail,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectDetailByCouponId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from coupon_collection
        where coupon_id = #{couponId,jdbcType=INTEGER}
    </select>
    <update id="updatePersonalInfo" parameterType="com.idream.commons.lib.dto.marketing.CouponCollectionParams">
        update coupon_collection
        <set>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
        </set>
        where coupon_id = #{couponId,jdbcType=INTEGER} and info_id = #{infoId,jdbcType=INTEGER}
    </update>
    <select id="selectInformationRule" resultType="com.idream.commons.lib.dto.information.InformationRuleDto">
        SELECT
        info_id ,
        info_code,
        info_name
        FROM coupon_collection
        where coupon_id = #{couponId} order by info_id
    </select>
    <update id="updateCouponCollection">
        update coupon_collection
        set
        detail = #{detail,jdbcType=VARCHAR}
        where coupon_id = #{couponId} and info_id=#{infoId}
    </update>
</mapper>