<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idream.commons.lib.mapper.SystemNoticeMapper">
    <resultMap id="BaseResultMap" type="com.idream.commons.lib.model.SystemNotice">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="send_id" property="sendId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="notice_way" property="noticeWay" jdbcType="TINYINT"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, send_id, title, content, notice_way, type, status, publish_time, create_time,
        update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from system_notice
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from system_notice
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.idream.commons.lib.model.SystemNotice" useGeneratedKeys="true"
            keyProperty="id">
        insert into system_notice (send_id, title, content,
        notice_way, type, status,
        publish_time, create_time, update_time
        )
        values (#{sendId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
        #{noticeWay,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
        #{publishTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.idream.commons.lib.model.SystemNotice" useGeneratedKeys="true"
            keyProperty="id">
        insert into system_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sendId != null">
                send_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="noticeWay != null">
                notice_way,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="publishTime != null">
                publish_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sendId != null">
                #{sendId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="noticeWay != null">
                #{noticeWay,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="publishTime != null">
                #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.idream.commons.lib.model.SystemNotice">
        update system_notice
        <set>
            <if test="sendId != null">
                send_id = #{sendId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="noticeWay != null">
                notice_way = #{noticeWay,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.idream.commons.lib.model.SystemNotice">
        update system_notice
        set send_id = #{sendId,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        notice_way = #{noticeWay,jdbcType=TINYINT},
        type = #{type,jdbcType=TINYINT},
        status = #{status,jdbcType=TINYINT},
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- app端 通知列表 -->
    <select id="selectNoticeList" resultType="com.idream.commons.lib.dto.app.NoticeListResponseDto">
        SELECT
        a.id,
        a.send_id sendId,
        b.nick_name nickName,
        a.content,
        a.publish_time publishTime,
        a.status
        FROM system_notice a
        LEFT JOIN user_info b ON a.send_id=b.id
        <where>
            <if test="content!=null and content!=''">
                <![CDATA[  AND a.content LIKE  CONCAT('%', #{content}, '%') ESCAPE '/' ]]>
            </if>
        </where>
    </select>
</mapper>