<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idream.commons.lib.mapper.UserVisitRecordMapper">
    <resultMap id="BaseResultMap" type="com.idream.commons.lib.model.UserVisitRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="business_id" property="businessId" jdbcType="INTEGER"/>
        <result column="business_type" property="businessType" jdbcType="TINYINT"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, business_id, business_type, count, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user_visit_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user_visit_record
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.idream.commons.lib.model.UserVisitRecord" useGeneratedKeys="true"
            keyProperty="id">
        insert into user_visit_record (user_id, business_id, business_type,
        count, create_time)
        values (#{userId,jdbcType=INTEGER}, #{businessId,jdbcType=INTEGER}, #{businessType,jdbcType=TINYINT},
        #{count,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.idream.commons.lib.model.UserVisitRecord" useGeneratedKeys="true"
            keyProperty="id">
        insert into user_visit_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="businessId != null">
                business_id,
            </if>
            <if test="businessType != null">
                business_type,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="businessId != null">
                #{businessId,jdbcType=INTEGER},
            </if>
            <if test="businessType != null">
                #{businessType,jdbcType=TINYINT},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.idream.commons.lib.model.UserVisitRecord">
        update user_visit_record
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="businessId != null">
                business_id = #{businessId,jdbcType=INTEGER},
            </if>
            <if test="businessType != null">
                business_type = #{businessType,jdbcType=TINYINT},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.idream.commons.lib.model.UserVisitRecord">
        update user_visit_record
        set user_id = #{userId,jdbcType=INTEGER},
        business_id = #{businessId,jdbcType=INTEGER},
        business_type = #{businessType,jdbcType=TINYINT},
        count = #{count,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--查询时间段内的活动浏览数-->
    <select id="selectViewsByDate" resultType="com.idream.commons.lib.dto.activity.AdminActivityStatisticsDto">
        SELECT sum(a.count) as count ,DATE_FORMAT(create_time,'%Y%m%d') as date
        FROM user_visit_record a
        WHERE business_type=1 and create_time between #{startTime} and #{endTime}
        group by DATE_FORMAT(create_time,'%Y%m%d') order by date asc
    </select>
    <!--查询活动浏览总数-->
    <select id="selectTotalViews" resultType="java.lang.Integer">
        SELECT sum(a.count)  FROM user_visit_record a WHERE business_type=1
    </select>
</mapper>