<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idream.commons.lib.mapper.WximGroupMembersMapper">
    <resultMap id="BaseResultMap" type="com.idream.commons.lib.model.WximGroupMembers">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="acc_id" property="accId" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="group_identity" property="groupIdentity" jdbcType="TINYINT"/>
        <result column="an_excuse" property="anExcuse" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, acc_id, token, group_id, memo, group_identity, an_excuse, create_time,
        update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from wxim_group_members
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from wxim_group_members
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.idream.commons.lib.model.WximGroupMembers" useGeneratedKeys="true"
            keyProperty="id">
        insert into wxim_group_members (user_id, acc_id, token,
        group_id, memo, group_identity,
        an_excuse, create_time, update_time
        )
        values (#{userId,jdbcType=INTEGER}, #{accId,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR},
        #{groupId,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, #{groupIdentity,jdbcType=TINYINT},
        #{anExcuse,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.idream.commons.lib.model.WximGroupMembers" useGeneratedKeys="true"
            keyProperty="id">
        insert into wxim_group_members
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="accId != null">
                acc_id,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="groupIdentity != null">
                group_identity,
            </if>
            <if test="anExcuse != null">
                an_excuse,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="accId != null">
                #{accId,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=INTEGER},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="groupIdentity != null">
                #{groupIdentity,jdbcType=TINYINT},
            </if>
            <if test="anExcuse != null">
                #{anExcuse,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.idream.commons.lib.model.WximGroupMembers">
        update wxim_group_members
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="accId != null">
                acc_id = #{accId,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=INTEGER},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="groupIdentity != null">
                group_identity = #{groupIdentity,jdbcType=TINYINT},
            </if>
            <if test="anExcuse != null">
                an_excuse = #{anExcuse,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.idream.commons.lib.model.WximGroupMembers">
        update wxim_group_members
        set user_id = #{userId,jdbcType=INTEGER},
        acc_id = #{accId,jdbcType=VARCHAR},
        token = #{token,jdbcType=VARCHAR},
        group_id = #{groupId,jdbcType=INTEGER},
        memo = #{memo,jdbcType=VARCHAR},
        group_identity = #{groupIdentity,jdbcType=TINYINT},
        an_excuse = #{anExcuse,jdbcType=BIT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <resultMap id="getMyChat" type="com.idream.commons.lib.dto.app.MyChatDto">
        <id column="tid" property="tid"/>
        <result column="group_name" property="groupName"/>
        <result column="group_desc" property="groupDesc"/>
        <result column="imgae_url" property="imageUrl"/>
        <result column="business_id" property="activityId"/>
        <collection property="imageList" ofType="java.lang.String">
            <result column="image"/>
        </collection>
    </resultMap>
    <select id="getMyChatByUserId" resultMap="getMyChat">
        SELECT
        f.tid,f.group_name,f.group_desc,f.imgae_url,f.business_id, e.image
        FROM
        wxim_group_members g
        LEFT JOIN
        (
        SELECT a.group_id, a.`user_id` FROM wxim_group_members AS a
        WHERE (SELECT COUNT(*) FROM wxim_group_members b WHERE group_id = a.group_id AND create_time &lt;
        a.`create_time` ) &lt; 4
        ORDER BY a.group_id, a.create_time
        ) d
        ON g.`group_id` = d.group_id
        INNER JOIN
        user_info e
        ON d.user_id = e.`id`
        INNER JOIN
        wxim_group f
        ON d.group_id = f.`tid` AND f.business_type = 1
        WHERE g.`user_id` = #{userId,jdbcType=INTEGER}
        ORDER BY g.create_time DESC
    </select>
</mapper>